#PyStuff
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.egg
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/
env/
.env
*.env
*.csv

# Mac 
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
*.tfstate

# Model files
model/*.onnx
triton_models/vit_int8/1/model.onnx

# IDE 
.vscode/
.idea/
*.swp
*.swo

#Docker 
.dockerignore
